head, body {
    margin: 0;
    background-color: #e7e7e7;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #2196f3;
    position: relative;
}

a::before {
    content: "";
    background-color: #2196f342;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform-origin: bottom;
    transform: scaleY(0.1) scaleX(0);
    transition: transform 0.5s, background-color 0.5s;
}

a:hover::before {
    transform: scaleY(0.1) scaleX(1);
    background-color: #2196f3;
}

#top {
    margin: 0 auto;
    max-width: 1300px;
}

#face {
    float: left;
    width: 300px;
    transform: perspective(300px) rotateX(2deg) rotateY(3deg);
    margin: 40px 100px 0 40px;
    border-radius: 5px;
    box-shadow: 5px 2px 10px #00000045;
    transition: transform 0.5s;
}

#face:hover {
    transform: perspective(300px) rotateX(3deg) rotateY(4deg);
}

#name {
    color: white;
    font-size: 5em;
    border-radius: 5px;
    margin: 40px 0 0 0;
    background-color: #2196f3;
}

#tagline {
    font-weight: initial;
    width: 800px;
    display: inline-block;
    margin: 0;
}

#tagline span {
    font-weight: bold;
}

#cv {
    display: inline-block;
    text-decoration: none;
    color: #2196f3;
    border: solid 4px;
    padding: 10px;
    font-weight: bold;
    font-size: 2em;
    margin-top: 30px;
    border-radius: 5px;
    transform: perspective(300px) rotateX(0deg) rotateY(0deg);
    transition: background-color 0.5s, box-shadow 0.5s, transform 0.5s;
}

#cv:hover {
    transform: perspective(300px) rotateX(5deg) rotateY(-5deg);
    box-shadow: 5px 2px 10px #b1b1b1;
    background-color: white;
}

#cv::before {
    display: none;
}

#h1_projects {
    color: #2196f3;
    font-size: 3em;
    clear: both;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 1em;
    margin: 0;
    background-image: linear-gradient(#e7e7e7, white);
}

#projects_container {
    background-color: white;
}

#projects {
    max-width: 1300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

.project {
    padding: 20px;
    width: 33%;
    vertical-align: top;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0;
    display: inline-block;
    transition: box-shadow 0.5s, background-color 0.5s;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    overflow: hidden;
}

.project:hover {
    box-shadow: 0 1px 4px #00000045;
    background-color: #e7e7e7;
}

.project a {
    display: inline-block;
    margin: 0.5em 0;
    font-size: 1.5em;
}

.project .thumb {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    filter: grayscale(1);
    opacity: 0.7;
    transition: filter 0.5s, opacity 0.5s;
}

.project:hover .thumb {
    filter: grayscale(0);
    opacity: 1;
}

.blinds {
    position: relative;
}

.blinds div {
    position: absolute;
    background-color: white;
    transition: all 0.5s;
}

.project:hover .blinds div {
    background-color: #e7e7e7;
}

.blinds .left {
    left: -20px;
    top: -20px;
    bottom: -10px;
    width: 20px;
}

.project:hover .left {
    left: -40px;
}

.blinds .top {
    left: -20px;
    top: -20px;
    right: -20px;
    height: 20px;
}

.project:hover .top {
    top: -40px;
}

.blinds .right {
    right: -20px;
    top: -20px;
    bottom: -10px;
    width: 20px;
}

.project:hover .right {
    right: -40px;
}

.blinds img {
    width: 100%;
}

#footer {
    text-align: center;
    color: #848484;
    padding: 1em;
}

@media only screen and (max-width: 700px) {}

@media only screen and (max-width: 800px) {
    .project {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}
